
<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @blog.post %>
</p>

<p>
  <strong>Meta keyword:</strong>
  <%= @blog.meta_keyword %>
</p>

<p>
  <strong>Meta description:</strong>
  <%= @blog.meta_description %>
</p>

<p>
  <strong>Post summary:</strong>
  <%= @blog.post_summary %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog.category %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@blog.user_id).user_name.titleize %>
</p>

<% if user_signed_in? && current_user.admin == 41 %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> | 
  <%= link_to 'Delete Post', blog_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %> 
<%= link_to 'Back', blogs_path %>
