
<p>
  <h1 class="text-center"><%= @blog.title.titleize %></h1>
</p>
<br/><br/><br/><br/>
<p>
  By:
  <%= User.find(@blog.user_id).first_name.titleize %> 
  <%= User.find(@blog.user_id).last_name.titleize %> | @<%= User.find(@blog.user_id).user_name.titleize %>
</p>
<hr/>
<p>
  <%= @blog.post.html_safe %>
</p>


  
  <% @blog.meta_keyword %>
  <% @blog.meta_description %>
  <% @blog.post_summary %>
  <% @blog.category %>



<hr>
<% if user_signed_in? && current_user.admin == 41 %>
  <%= link_to 'Edit', edit_blog_path(@blog) %> | 
  <%= link_to 'Delete Post', blog_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %> 
<%= link_to 'Back', blogs_path %>
