<div class="body">
			<header id="header" class="narrow" data-plugin-options='{"alwaysStickyEnabled": false, "stickyEnabled": false, "stickyWithGap": false, "stickyChangeLogoSize": false}'>
				<div class="container">
					<div class="logo">
						<a href="index.php">
							<h2 class="shorter"><a href="http://www.JohnElder.org" class="nolink">John<strong>Elder</strong>.org</a></h2>
							
						</a>
					</div>
					<button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<div class="navbar-collapse nav-main-collapse collapse">
					<div class="container">
						<ul class="social-icons">
							<li class="facebook"><a href="http://www.facebook.com/codemycom" target="_blank" title="Facebook">Facebook</a></li>
							<li class="twitter"><a href="https://twitter.com/flatplanet" target="_blank" title="Twitter">Twitter</a></li>
							<li class="linkedin"><a href="http://www.linkedin.com/pub/john-elder/55/a31/493" target="_blank" title="Linkedin">Linkedin</a></li>
						</ul>
						<nav class="nav-main mega-menu">
							<ul class="nav nav-pills nav-main" id="mainMenu">
								
															
							
									<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										Blog
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
										<% if user_signed_in? %>
										  <li><%= link_to "Blog Home", root_path %></li>
                                          <li><%= link_to "New Post", new_blog_path %></li>
                                          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                                          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                                        <% else %>
                                          <li><%= link_to "Login", new_user_session_path %></li>
                                          <li><%= link_to "Blog Home", root_path %></li>
                                        <% end %>	
									</ul>
								</li>
								
							
								
								
								<li class="dropdown">
									<a class="dropdown-toggle" href="#">
										Portfolio
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu">
										<li><a href="http://JohnElder.org/portfolio.php">Complete Portfolio</a></li>
										<li><a href="http://JohnElder.org/portfolio.php#sites">Websites I've Built</a></li>
										<li><a href="http://JohnElder.org/portfolio.php#books">Books I've Written</a></li>
										<li><a href="http://JohnElder.org/portfolio.php#software">Software I've Developed</a></li>
									</ul>
								</li>
								
								<li>
									<a href="http://JohnElder.org/testimonials.php">Testimonials</a>
								</li>

								<li>
									<a href="http://cdn.JohnElder.org/resume.pdf">Resume</a>
								</li>
								
								<li>
									<a href="http://JohnElder.org/index.php#contact">Contact</a>
								</li>

								<li>
									<a href="http://JohnElder.org/code/index.php">Code</a>
								</li>
								
							</ul>
						</nav>
					</div>
				</div>
			</header>
			
			</div>

				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li><%= link_to "Home", root_path %></li>
									<li class="active"><%= yield(:title) %></li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1><%= yield(:title) %></h1>
							</div>
						</div>
					</div>
				</section>

<div class="container">



<br/>
